name: Deploy Spring Boot To EC2 (SSH)
on: 
  push: 
    branches: ["main"]


jobs:
  deploy:
    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Set Up Java 17
      uses: actions/setup-java@v4
      with:
       distribution: temurin
       java-version: "17"
       
    - name: Build (Maven)
      run: mvn -B -DskipTests

    
    - name: Copy jar to EC2(/opt/schedemyApp)
      uses: appleboy/scp-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "target/*.jar"
        target: "/opt/schedemyApp"

  
    - name: Active jar as schedemyApp.jar + restart service
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
        
          set -euo pipefail 
          cd /opt/schedemyApp
          
          ls -lah /opt/schedemyApp/target || true
          
          JAR="$(ls -t /opt/schedemyApp/target/*jar | head -n 1)"
          echo "Using $JAR"
          mv "$JAR" /opt/schedemyApp/schedemyApp.jar
          sudo systemctl daemon-reload
          sudo systemctl restart schedemyApp


    
